table {
  height: 95%;
  width: 95%;
  border: solid black;
}
td {
  height: 20%;
  position: relative;
}
td:after {
  content: '';
  display: block;
  margin-right: 100%;
}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightgray;
  width: 100%;
  text-align: center; 
  vertical-align: middle;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: Helvetica;
  font-size: larger;
  color:black;
}
td .content.blue {
  width: 100%;
  background:blue;
  color: rgb(50,50,255);
}
td .content.red {
  width: 100%;
  background:red;
  color: rgb(255,80,80);
}
td .content.lightgray {
  width: 100%;
  background:lightgray;
  color:black;
}
td .content.gray {
  width: 100%;
  background:rgb(110,110,110);
  color: rgb(135,135,135);
}
td .content.black {
  width: 100%;
  background:black;
  color: darkgrey;
}
